.selectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  border: none;
  border-radius: var(--radii);
  padding: 0.25rem;
  width: 200px;
  height: 50px;
  background-color: var(--colors-ui-base);
  color: var(--colors-text);
  box-shadow: var(--shadow);
  cursor: pointer;

  &:hover {
    background-color: maroon;
  }

  &:focus-visible {
    outline: 2px solid #2563eb;
  }

  .selectIcon {
    color: salmon;
    transition: all 0.3s ease;
  }

  &[data-state='open'] {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;

    .selectIcon {
      color: salmon;
      transform: rotate(180deg);
    }
  }
}

.selectContent {
  width: var(--radix-select-trigger-width);
  overflow: hidden;
  background-color: var(--colors-ui-base);
  border-radius: 6px;
  box-shadow: 0 10px 38px -10px rgba(22, 23, 24, 0.35),
  0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  cursor: pointer;

  &[data-state='open'] {
    border-top-left-radius: unset;
    border-top-right-radius: unset;
  }

  .selectViewport {
    padding: 5px;
  }

  .selectItem {
    font-size: 13px;
    line-height: 1;
    background-color: var(--colors-ui-base);
    color: var(--colors-text);
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 0 35px 0 25px;
    position: relative;
    user-select: none;

    &[data-highlighted] {
      outline: none;
      background-color: aquamarine;
      color: sienna;
    }

    &[data-state='checked'] {
      background-color: var(--colors-bg);
    }
  }
}
