.selectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--colors-ui-base);
  color: var(--colors-text);
  font-size: var(--fs-sm);
  border: none;
  border-radius: var(--radii);
  padding: 0.38rem 0.75rem;
  box-shadow: var(--shadow);
  width: 200px;
  height: 50px;
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid #2563eb;
  }

  .iconWrapper {
    display: flex;
    align-items: center;
    column-gap: 8px;

    .separator {
      width: 1px;
      height: 26px;
      background-color: rgb(204, 204, 204);
    }

    .selectIcon {
      width: 20px;
      height: 20px;
      font-size: 20px;
      transition: all 0.2s ease;
    }
  }

  &[data-state='open'] {
    .iconWrapper {
      .selectIcon {
        transform: rotate(180deg);
      }
    }
  }
}

.selectContent {
  width: var(--radix-select-trigger-width);
  overflow: hidden;
  background-color: var(--colors-ui-base);
  border-radius: var(--radii);
  cursor: pointer;
  box-shadow: var(--shadow);

  .selectItem {
    display: flex;
    align-items: center;
    height: 25px;
    padding: 0 35px 0 25px;
    position: relative;
    user-select: none;
    background-color: var(--colors-ui-base);
    color: var(--colors-text);
    font-size: var(--fs-sm);

    &[data-highlighted] {
      outline: none;
      background-color: var(--colors-bg);
    }

    &[data-state='checked'] {
      background-color: var(--colors-bg);
    }
  }
}
